# Visual Studio Code settings
.vscode/

# Visual Studio folder
.vs/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
dist/
build/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env
.env.test
.env.production

# Mac system files
.DS_Store

# Linux/Mac temporary files
*.swp

# Coverage directory used by tools like istanbul
coverage/

# Other files
*.tgz
.idea/

# Build directories for all projects
bin/
obj/

# Proxy settings (optional, if your project generates it)
spa.proxy.json
/FinalProject/Controllers/FlightController.cs
/FinalProject/Controllers/FlightController.cs
/FinalProject/Controllers/FlightController.cs
/FinalProject/Controllers/FlightController.cs
FinalProject/ClientApp/.angular/cache/13.3.11/angular-webpack/579ad5cc2cca6692457c65645f20fe6b0c656f8d/0.pack
FinalProject/ClientApp/.angular/cache/13.3.11/angular-webpack/579ad5cc2cca6692457c65645f20fe6b0c656f8d/index.pack
FinalProject/ClientApp/.angular/cache/13.3.11/babel-webpack/09c7ad6fffe16be5d4ab6dc36e0b2c87.json
FinalProject/ClientApp/.angular/cache/13.3.11/babel-webpack/56bac6a9171505759dd10e5a6da27357.json
FinalProject/ClientApp/.angular/cache/13.3.11/babel-webpack/8f825617b9b090f5086022a1c9332fa9.json
FinalProject/ClientApp/.angular/cache/13.3.11/babel-webpack/92b9b3d0d1bfe92b9739bbfeb8901d47.json
FinalProject/ClientApp/.angular/cache/13.3.11/babel-webpack/ad59cd15983fdee90edf7c9b50c3cb35.json
FinalProject/ClientApp/.angular/cache/13.3.11/babel-webpack/bda179fc5a095b6abb03db9743dfef83.json
FinalProject/ClientApp/.angular/cache/13.3.11/angular-webpack/579ad5cc2cca6692457c65645f20fe6b0c656f8d/1.pack
FinalProject/ClientApp/.angular/cache/13.3.11/angular-webpack/579ad5cc2cca6692457c65645f20fe6b0c656f8d/2.pack
FinalProject/ClientApp/.angular/cache/13.3.11/angular-webpack/579ad5cc2cca6692457c65645f20fe6b0c656f8d/index.pack.old
