# Ignore build outputs
bin/
obj/

# Ignore compiled DLL files
*.dll

# Ignore program database files (PDB)
*.pdb

# Ignore cache files created by the build system
*.cache

# Ignore generated text files
*.txt

# Ignore source link JSON files
*.json

# Ignore compiled code and metadata files
*.exe
*.ref
*.csproj.CoreCompileInputs.cache
*.csproj.AssemblyReference.cache

# Ignore file list absolute files
*.FileListAbsolute.txt
