# Ignore build outputs
bin/
obj/

# Ignore compiled DLL files
*.dll

# Ignore program database files (PDB)
*.pdb

# Ignore cache files created by the build system
*.cache

# Ignore generated text files
*.txt

# Ignore source link JSON files
*.json

# Ignore compiled code and metadata files
*.exe
*.ref
*.csproj.CoreCompileInputs.cache
*.csproj.AssemblyReference.cache

# Ignore file list absolute files
*.FileListAbsolute.txt

# Ignore build outputs
**/bin/Debug/net8.0/*.dll
**/bin/Debug/net8.0/*.exe
**/bin/Debug/net8.0/*.pdb

# Ignore obj folder files
**/obj/Debug/net8.0/apphost.exe
**/obj/Debug/net8.0/*.dll
**/obj/Debug/net8.0/*.pdb
**/obj/Debug/net8.0/*.sourcelink.json
**/obj/Debug/net8.0/ref/*.dll
**/obj/Debug/net8.0/refint/*.dll

# Ignore specific files
**/obj/Debug/net8.0/FinalProject.AssemblyInfo.cs
**/obj/Debug/net8.0/FinalProject.AssemblyInfoInputs.cache
