<head>
  <script>
(function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:5149731,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');</script>
</head>

<form [formGroup]="form">
  <div class="container d-grid gap-3" style="max-width: 700px;">


    <div class="d-grid gap-3">
      <div class="form-floating">
        <input formControlName="userName" placeholder="User Name" class="form-control" id="userName" type="text" />
        <label class="form-label" for="userName">User Name</label>

        <div class="invalid-feedback d-block" *ngIf="form.controls.userName.invalid && (form.controls.userName.dirty || form.controls.userName.touched)">
          <div *ngIf="form.controls.userName.errors">
            User name is invalid
          </div>

        </div>
      </div>

      <div class="form-floating">

        <input formControlName="firstName" class="form-control" type="text" id="firstName" placeholder="First Name" />
        <label class="form-label" for="firstName">First Name</label>

        <div class="invalid-feedback d-block" *ngIf="form.controls.firstName.invalid && (form.controls.firstName.dirty || form.controls.firstName.touched)">

          <div *ngIf="form.controls.firstName.errors">
            First name is invalid
          </div>
        </div>
      </div>

      <div class="form-floating">

        <input formControlName="lastName" placeholder="Last Name" class="form-control" id="lastName" type="text" />
        <label class="form-label" for="lastName">Last Name</label>

        <div class="invalid-feedback d-block" *ngIf="form.controls.lastName.invalid && (form.controls.lastName.dirty || form.controls.lastName.touched)">
          <div *ngIf="form.controls.lastName.errors">
            Last name is invalid
          </div>

        </div>
      </div>

      <div class="form-floating">
        <input formControlName="email" placeholder="Email" class="form-control" type="email" />
        <label for="email">Email</label>

        <div class="invalid-feedback d-block" *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
          <div *ngIf="form.controls.email.errors">
            Email is invalid
          </div>
        </div>
      </div>
      <div class="form-floating">
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password" class="form-control" />
          <label for="password">
            <button type="button" class="btn btn-outline-secondary input-group-text" (click)="togglePasswordVisibility()" style="margin-left: -42px; z-index: 2; border: none; position: absolute;">
              <i [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword" class="fa"></i>
            </button>
          </label>
          <div class="invalid-feedback d-block" *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
            <div *ngIf="form.controls.password.errors">
              Password is invalid
            </div>
          </div>
        </div>
      </div>


      <div>

        <input formControlName="gender" id="gender" class="form-check-input" [value]=true type="radio" />
        <label class="ms-2 form-check-label" for="gender">Female</label>
      </div>
      <div>
        <input formControlName="gender" id="gender" class="form-check-input" [value]=false type="radio" />
        <label class="ms-2 form-check-label" for="gender">Male</label>
      </div>
    </div>
    <div class="d-flex justify-content-center center">
      <button (click)="register()" type="submit" class="btn btn-primary">Register and Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
    </div>
  </div>
</form>
