<head>
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5149731, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</head>

<h5 class="text-center mb-4">Search for Flights</h5>

<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="m-5 d-grid gap-3">
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input formControlName="from" placeholder="From" class="form-control" />
          <label>From</label>
        </div>
      </div>

      <div class="col">
        <div class="form-floating">
          <input formControlName="destination" placeholder="Destination" class="form-control" />
          <label>Destination</label>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Departure Date or Month -->
      <div class="col">
        <label class="form-label">Departure</label>
        <div class="input-group">
          <select formControlName="departureDateType" class="form-select" (change)="onDepartureDateTypeChange($event)">
            <option value="date">Exact Date</option>
            <option value="month">Whole Month</option>
          </select>

          <input *ngIf="departureDateType === 'date'"
                 formControlName="fromDate"
                 type="date"
                 class="form-control" />
          <input *ngIf="departureDateType === 'month'"
                 formControlName="fromMonth"
                 type="month"
                 class="form-control" />
        </div>
      </div>

      <!-- Return Date or Month -->
      <div class="col">
        <label class="form-label">Return</label>
        <div class="input-group">
          <select formControlName="returnDateType" class="form-select" (change)="onReturnDateTypeChange($event)">
            <option value="date">Exact Date</option>
            <option value="month">Whole Month</option>
          </select>

          <input *ngIf="returnDateType === 'date'"
                 formControlName="toDate"
                 type="date"
                 class="form-control" />
          <input *ngIf="returnDateType === 'month'"
                 formControlName="toMonth"
                 type="month"
                 class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-end">
        <label class="form-label mt-2">Number of Passengers</label>
      </div>

      <div class="col">
        <div class="input-group">
          <div class="input-group-text">For</div>
          <input formControlName="numberOfPassengers" class="form-control" type="number" placeholder="1" />
          <div class="input-group-text">Passengers</div>

          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container mt-5">
  <div class="text-center">
    <h2>Popular destinations from</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/us.png" class="card-img-top" alt="United States">
        <div class="card-body">
          <h5 class="card-title">United States</h5>
          <p class="card-text">from $285</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/italy.png" class="card-img-top" alt="Italy">
        <div class="card-body">
          <h5 class="card-title">Italy</h5>
          <p class="card-text">from $73</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/greece.png" class="card-img-top" alt="Greece">
        <div class="card-body">
          <h5 class="card-title">Greece</h5>
          <p class="card-text">from $120</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/nz.png" class="card-img-top" alt="New Zealand">
        <div class="card-body">
          <h5 class="card-title">New Zealand</h5>
          <p class="card-text">from $359</p>
        </div>
      </div>
    </div>
  </div> <br /> <br /> <br />

  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/japan.png" class="card-img-top" alt="Japan">
        <div class="card-body">
          <h5 class="card-title">Japan</h5>
          <p class="card-text">from $192</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/zanzibar.png" class="card-img-top" alt="Zanzibar">
        <div class="card-body">
          <h5 class="card-title">Zanzibar</h5>
          <p class="card-text">from $402</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/egypt.png" class="card-img-top" alt="Egypt">
        <div class="card-body">
          <h5 class="card-title">Egypt</h5>
          <p class="card-text">from $116</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/czech.png" class="card-img-top" alt="Czech Republic">
        <div class="card-body">
          <h5 class="card-title">Czech Republic</h5>
          <p class="card-text">from $98</p>
        </div>
      </div>
    </div>
  </div> <br /> <br /> <br />

  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/singapore.png" class="card-img-top" alt="Singapore">
        <div class="card-body">
          <h5 class="card-title">Singapore</h5>
          <p class="card-text">from $568</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/brazil.png" class="card-img-top" alt="Brazil">
        <div class="card-body">
          <h5 class="card-title">Brazil</h5>
          <p class="card-text">from $484</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/monaco.png" class="card-img-top" alt="Monaco">
        <div class="card-body">
          <h5 class="card-title">Monaco</h5>
          <p class="card-text">from $475</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="/assets/images/canada.png" class="card-img-top" alt="Canada">
        <div class="card-body">
          <h5 class="card-title">Canada</h5>
          <p class="card-text">from $322</p>
        </div>
      </div>
    </div>
  </div> <br /> <br /> <br />
  <div class="explore-banner-container">
    <div class="explore-content">
      <h2>Can't decide where to go?</h2>
      <h1>Explore Every Destination</h1>
      <p>Find flights to top destinations worldwide, based on your preferences.</p>
      <a routerLink="/explore-everywhere" class="btn btn-explore"><b>Search flights Everywhere</b></a>
    </div>
  </div>
  <br />

  <div class="container mt-5">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
        <h2 class="accordion-header" id="heading{{faq.id}}">
          <button class="accordion-button"
                  type="button"
                  [attr.aria-expanded]="faq.isOpen"
                  [ngClass]="{ 'collapsed': !faq.isOpen }"
                  (click)="toggleFaq(i)"
                  [attr.data-bs-target]="'#collapse' + faq.id"
                  [attr.aria-controls]="'collapse' + faq.id">
            <b>{{ faq.question }}</b>
          </button>
        </h2>
        <div [id]="'collapse' + faq.id"
             class="accordion-collapse"
             [attr.aria-labelledby]="'heading' + faq.id"
             [ngClass]="{ 'show': faq.isOpen }"
             data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            {{ faq.answer }}
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
