<header>
  <script>
  (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5149731, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');</script>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <i class="fas fa-plane text-primary"></i>
        <!--<img src="/ClientApp/dist/assets/images/skyconnect-logo.png">-->
        SkyConnect
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" *ngIf="authService.isAuthorized()">
            <button class="btn btn-gray nav-link text-dark" [routerLink]="['/my-booking']">
              Hello, <b>{{ authService.currentUser?.username }}</b>
            </button>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthorized()">
            <button class="btn btn-gray nav-link text-dark" [routerLink]="['/packet']">Packets</button>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthorized()">
            <button class="btn btn-gray nav-link text-dark" [routerLink]="['/map']">Map</button>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthorized()" style="margin-left: 20rem;">
            <button class="btn btn-gray nav-link text-dark" [routerLink]="['/logout-passenger']" (click)="authService.logout()">Log Out</button>
          </li>
          <li class="nav-item" *ngIf="!authService.isAuthorized()" style="margin-left: 20rem;">
            <button class="btn btn-gray nav-link text-dark" [routerLink]="['/login-passenger']">Log in</button>
          </li>
          <li class="nav-item" *ngIf="!authService.isAuthorized()">
            <button class="btn btn-gray nav-link text-dark" [routerLink]="['/register-passenger']">Register</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
