<head>
  <script>
(function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:5149731,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');</script>
</head>

<div id="map"></div>
<div class="search-popup">
  <h3>Find Your Desired Trip Route</h3>
  <div class="input-container">
    <label for="departureCity">Departure City</label>
    <input id="departureCity" type="text" placeholder="Enter departure city">
  </div>
  <div class="input-container">
    <label for="arrivalCity">Arrival City</label>
    <input id="arrivalCity" type="text" placeholder="Enter arrival city">
  </div>
  <div class="button-container">
    <button class="search-button" (click)="onSearchClick()">
      <i class="fas fa-search"></i> Search
    </button>
    <button id="clean-button" class="clean-button" style="background-color: grey;" (click)="onCleanSearchClick()">
      Clean Search
    </button>
  </div>
  <div  *ngIf="totalPrice !== 0">
    Total Price: ${{ totalPrice }}
  </div>
</div>
