#map {
  height: 90vh;
  width: 145%;
  margin: 0;
  padding: 0;
  position: relative;
  left: -31vh;
  border: 2px solid #3498db;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: none;
}
  
.leaflet-control {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-popup {
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

  .search-popup h3 {
    margin-top: 0;
    font-size: 18px;
  }

.input-container {
  margin-bottom: 10px;
}

  .input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.search-popup button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

  .search-popup button i {
    margin-right: 5px;
  }

  .search-popup button:hover {
    background: #1a5276;
  }

.button-container {
  display: flex;
  gap: 10px; /* Adjust the space between the buttons if needed */
}

button i {
  margin-right: 5px;
}

#clean-button:hover{
    background-color:darkgrey !important;
}
